<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>用户中心 - 三叶草官网</title>
        <link rel="stylesheet" type="text/css" href="{:url('/public/static/home/css/top.css','','')}">
        <link rel="stylesheet" type="text/css" href="{:url('/public/static/home/css/header.css','','')}">
        <link rel="stylesheet" type="text/css" href="{:url('/public/static/home/css/data.css','','')}">
        <link rel="stylesheet" type="text/css" href="{:url('/public/static/home/css/foot.css','','')}">
        <script src="{:url('/public/static/home/js/jquery-1.8.3.min.js','','')}" type="text/javascript"></script>
        <script type="text/javascript" src="{:url('/public/static/home/js/head.js','','')}"></script>
        <script type="text/javascript" src="{:url('/public/static/home/js/index.js','','')}"></script>
        <script type="text/javascript">
            $(function(){
            $("img").click(function(){
                    $("#fileid").click();
                });
                $("#fileid").change(function(){
                    $(this).parent().submit();
                });
            });
        </script>
    </head>
    <body bgcolor="#F7F7F7">
        <!-- top开始 head开始 -->
        {include file="./syc/home/view/menu/top.html"/}
        {include file="./syc/home/view/menu/head.html"/}
        <!-- top结束 head结束 -->
        <div class="mid">
            <div class="content">
                <div class="content_left_one" id="jsjsjs">
                    <ul>
                        {foreach name="list" item="v"}
                        <div style="position: relative;float:left;">
                            <a href="/list/{$v.id}.html" onmouseover="show(this)" onmouseout="hide()">
                                <li>{$v.name}</li>
                            </a>
                            {if condition="$v.0"}
                            <div class="category">
                                {foreach name="v.0" item="v"}
                                <a href="/list/{$v.id}.html">
                                    <div class="category_con">
                                        {$v.name}
                                    </div>
                                </a>
                                {/foreach}
                            </div>
                            {/if}
                        </div>
                        {/foreach}
                    </ul>
                </div>
                <div class="content_left">
                    <div class="content_left_top"></div>
                    <div class="content_left_mid">
                        <ul>
                            <a href="{:url('/per')}">
                                <li><div class="content_left_mid1">我的三叶草中心</div></li>
                            </a>
                            <a href="{:url('/orders')}">
                                <li><div class="content_left_mid2">我的订单</div></li>
                            </a>
                            <a href="{:url('/data')}">
                                <li><div class="content_left_mid3">个人资料</div></li>
                            </a>
                            <a href="{:url('/address')}">
                                <li><div class="content_left_mid4">收货地址</div></li>
                            </a>
                            <a href="{:url('/pass')}">
                                <li><div class="content_left_mid5">修改密码</div></li>
                            </a>
                            <a href="{:url('/collect')}">
                                <li class="content_left_mid_bot"><div class="content_left_mid7">我的收藏</div></li>
                            </a>
                            <a href="">
                                <li><div class="content_left_mid6">积分&优惠券</div></li>
                            </a>
                        </ul>
                    </div>
                    <a href="{:url('/index')}">
                        <div class="content_left_bottom">
                            继续购买商品
                        </div>
                    </a>
                </div>
                <div class="content_right">
                    <div class="content_right_top">
                        <div class="content_right_top1">个人资料</div>
                    </div>
                    
                    <div class="content_right_bottom">
                        <div class="content_right_bottom_head">
                            <span>头像 : </span>
                            <div class="content_right_bottom_head1">
                            <form action="{:url('/home/data/update')}" method="post" enctype="multipart/form-data">
                            <input type="file" name="image" id="fileid" style="display:none;">  
                            </form>
                            {if condition="($Think.session.homeuser->qq) OR ($Think.session.homeuser->wb)"}
                                <img src="{$vo.headpic}" width="80" height="80">
                            {else/}
                                <img src="{:url('/public/headpic/','','')}{$vo.headpic}" width="80" height="80">
                            {/if}
                            </div>
                        </div>
                        <div class="content_right_bottom_name">
                            <span>姓名 : </span>
                            <div class="content_right_bottom_name1">
                                {$vo.name}
                            </div>
                        </div>
                        <div class="content_right_bottom_sex">
                            <span>性别 : </span>
                            <div class="content_right_bottom_sex1">
                                {if condition="$vo.sex eq 1"}
                                    男
                                {else/}
                                    女
                                {/if}
                            </div>
                        </div>
                        <div class="content_right_bottom_address">
                            <span>地址 : </span>
                            <div class="content_right_bottom_address1">
                                {$vo.address}
                            </div>
                        </div>
                        <div class="content_right_bottom_phone">
                            <span>手机号码 : </span>
                            <div class="content_right_bottom_phone1">
                              {$vo.phone}
                            </div>
                        </div>
                        <div class="content_right_bottom_mail">
                            <span>E-mail : </span>
                            <div class="content_right_bottom_mail1">
                              {$vo.email}
                            </div>
                        </div>
                        <div class="content_right_bottom_code">
                            <span>邮政编码 : </span>
                            <div class="content_right_bottom_code1">
                              {$vo.code}
                            </div>
                        </div>

                        <div class="content_right_bottom_button">
                            <a href="{:url('/home/data/edit')}"><button>修改资料</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- foot开始 -->
        {include file="./syc/home/view/menu/foot.html"/}
        <!-- foot结束 -->
    </body>
</html>